@model IEnumerable<webWhyPark.Models.Estacionamento>
@{
    ViewData["Title"] = "Estacionamentos";
}

<p>
    <a asp-action="Create">Cadastre seu estacionamento!</a>
</p>

<div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model=>model.RazaoSocial)
                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.CNPJ)

                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.Telefone)

                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.Email)

                </th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem=>item.RazaoSocial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>item.CNPJ)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>item.Telefone)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>item.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
